<h1>Коронавирусная инфекция  в Беларуси</h1>
<h2>COVID-19 Монитор</h2>
<p>
Данные быстро меняются. В статистике может не быть информации о недавно зарегистрированных случаях.</p>
<p>Учтены только те, кто сдал тест. При подсчете случаев заболевания учитываются только пациенты, прошедшие диагностику с положительным результатом. Правила диагностики и возможность ее проведения зависят от страны. Информация по некоторым регионам может отсутствовать, поскольку данные ещё не были опубликованы или давно не обновлялись.</p>
<p>Почему данные из разных источников отличаются? Есть множество интернет-ресурсов, которые отслеживают и обрабатывают статистику распространения коронавирусной инфекции. При этом алгоритм сбора данных и интервал их обновления у каждого сайта разный.
</p>
<ul><h3>API для получения информации о коронавирусе</h3>
    <li>API root: /api/v1/ </li>
    <li>Projects list: /api/v1/projects/ </li>
    <li>Posts list: /api/v1/posts/ </li>
    <li>Locations list: /api/v1/locations/ </li>
    <li>Facts list: /api/v1/facts/ </li>
    <li>Photos list: /api/v1/photos/</li>
</ul>


<ul><h3>Источники</h3>
    <li>News Google </li>
    <li>WiKI </li>
    <li>Минздрав РБ </li>
    <li>Яндекс Коронавирус </li>
    <li>https://api.covid19api.com/ </li>
    <li>Университет Джона Хопкинса</li>
</ul>
